* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	/* background-color: #6c757d; */
}
.main-content {
	/* Adjust the value based on your footer's height and padding */
   min-height: calc(
	 100vh - 150px
	 );
   /* Match the footer height */
   padding-bottom: 150px; 
 }
 
#arrow {
	justify-content: right;
	font-size: 2rem;
	display: flex;
	cursor: pointer;
	margin-left: 100%;
	margin-bottom: 0px;
	background-color: black;
  }
  
  #arrow:hover {
	color: skyblue;
	opacity: 1;
  }
  
  /* logos hover*/
#logos i:hover {
	color: skyblue;
	opacity: 1;
	cursor: pointer;
  }

h1 {
	color: rgb(71, 67, 66);
	margin-bottom: -5px;
}

p {
	margin-bottom: -10px;
}

#main {
	text-align: center;
}

.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
}

.cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

.cell:active {
	outline: none;
}

/* 3*3 Grid */
#b1 {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

#b2 {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b3 {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b4 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

#b5 {
	border: 1px solid gray;
}

#b6 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b7 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

#b8 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b9 {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

/* Reset Button */
#but {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid rgb(117, 126, 136);
	margin-left: auto;
	border-radius: 8px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: whitesmoke;
	color: rgb(82, 92, 103);
	font-size: 20px;
	cursor: pointer;
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: rgb(94, 103, 111);
	font-size: 20px;
}


/* Game Instruction Text */
#instructions {
	font-family: Verdana, Geneva,
		Tahoma, sans-serif;
	color: rgb(65, 72, 78);
}